//**********font
$font-size: 16px;

$font-text: 'Open Sans', sans-serif;

//**********colors
$legend_blue: #099CE8;
$legend_yellow1: #FFD83C;
$legend_violet: #7553FF;

$skyblue: #C5DCFF;
$lightblue: #6BA6FF;
$dark: #292929;
$gray: #9E9E9E;
$gray_2: #8E8E8E;

//**********border-radius
$card-border-radius: 16px;
$btn-border-radius: 23px;
$time-border-radius: 11px;

//**********breakpoints
$mq-xl: 1440px;
$mq-sm: 720px;
$mq-xs: 375px;